<!--
  Author: David Kent, Georgia Institute of Technology
  Version: January 26, 2018
-->

<launch>
  <!-- Segmentation Params -->
  <arg name="segmentation" default="true" />
  <arg name="use_color" default="false" />
  <arg name="min_cluster_size" default="100" />
  <arg name="max_cluster_size" default="2500" />
  <arg name="segmentation_cloud" default="camera_side/depth_registered/points" />

  <!-- Motion Planning Params -->
  <arg name="motion_planning" default="true" />

  <!-- Sensor Params -->
  <arg name="top" default="false"/>
  <arg name="side" default="true"/>

  <!-- Nimbus Launch -->
  <include file="$(find nimbus_bringup)/launch/nimbus_bringup.launch">
    <arg name="top" value="$(arg top)"/>
    <arg name="side" value="$(arg side)"/>
    <arg name="segmentation" value="$(arg segmentation)" />
    <arg name="point_cloud_topic" value="$(arg segmentation_cloud)" />
    <arg name="use_color" value="$(arg use_color)" />
    <arg name="min_cluster_size" value="$(arg min_cluster_size)" />
    <arg name="max_cluster_size" value="$(arg max_cluster_size)" />
    <arg name="motion_planning" value="$(arg motion_planning)" />
  </include>
</launch>
